@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&family=Luxurious+Roman&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Kings&family=Luxurious+Roman&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Kings&family=Luxurious+Roman&family=Roboto:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*{
    border: 0em;
    margin: 0em;
    padding: 0em;
    outline: 0em;
}
html{
    scroll-behavior: smooth;
}
html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden !important;
}
body{
    background: whitesmoke !important;
    font-family: sans-serif !important;
}
::-webkit-scrollbar{
    width: 0;
}
/*---------------------------------Top Bar---------------------------------*/
#bar{
    background: linear-gradient(to right, #00093c, #2d0b00);
    overflow: auto;
    width: 100%;
    border-bottom: 0.3vw solid rgb(16, 114, 76);
}
.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 1px !important;
 }
ul{
    list-style: none;
}
#left-1{
    float: left;
    margin-left: 2vw;
}
#left-2{
    float: left;
    margin-left: 1vw;
}
#right-1{
    float: right;
    margin-right: 5vw;
}
.navbar_link{
    display: flex;
    align-items: center;
    background: transparent;
    color: white;
    padding: 1px;
    text-decoration: none;
    font-size: 1.1vw;
}
.material-icons{
    margin-right: 0.25vw;
}
#nav-icon{
    font-size: 1.25vw;
}
#right-1 .navbar_link-1 {
    display: flex;
    align-items: center;
    background: transparent;
    color: white;
    padding: 1px;
    text-decoration: none;
    font-size: 1.1vw;
}
#right-1 .navbar_link-1:hover,
#left-2 .navbar_link:hover,
#left-1 .navbar_link:hover{
    color: #27bffe;
}  
/*---------------------------------Main Bar---------------------------------*/
.row{
    position: relative;
}
.img-fluid{
    height:auto;
}
.header-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    text-align: center;
    color: whitesmoke;
    font-weight: 800;
    font-family: 'Kings';
    letter-spacing: 3px;
    display: block;
    font-size: 3.5vw;
}
.header-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    text-align: center;
    color: whitesmoke;
    font-weight: 800;
    font-family: 'Luxurious Roman';
    font-size: 1.6vw;
    display: block;
}
.header-3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, 330%);
    text-align: center;
    color: whitesmoke;
    font-weight: 800;
    font-family: 'Luxurious Roman';
    font-size: 1.5vw;
    display: block;
}
/*---------------------------------NOTICE SECTION---------------------------------*/
#scrolling-text{
    background: linear-gradient(to right, #00093c, #2d0b00);
    overflow: auto;
    width: 100%;
    border-top: 0.3vw solid rgb(16, 114, 76);
}
#cssmarquee {
    height: 1.6vw;
    overflow: hidden;
    position: relative;
}
#cssmarquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    color: red;
    margin: 0;
    display: flex;
    font-size: 1.1vw;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    /* Starting position */
    transform:translateX(-100%);
    animation: cssmarquee 20s linear infinite;
}
@keyframes cssmarquee {
0% {
    transform: translateX(100%);
}
100% {
    transform: translateX(-100%);
}
}
/*---------------------------------NAVIGATION SECTION---------------------------------*/
.navigation-section{
    text-align: center;
    background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
}
.nav-btn1{
    border: 0.15vw solid rgb(11, 36, 110);
    background: none;
    padding: 10px 60px;
    font-size: 1vw;
    cursor: pointer;
    margin: 10px;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    width: 18%;
    font-style: italic;
    font-weight: 600;
    position: relative;
}
.nav-btn2{
    text-decoration: none;
    color: black;
}
.nav-btn1 a:hover{
   color: rgb(129, 30, 30);
   font-size: 1.25em;
}
@media (max-width: 1175px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 12%;
        padding: 10px 1px;
        font-size: 12.5px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 987px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 12%;
        padding: 10px 1px;
        font-size: 12px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 924px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 13%;
        padding: 10px 1px;
        font-size: 12px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 862px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 13%;
        padding: 10px 1px;
        font-size: 11px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 784px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 14.5%;
        padding: 10px 1px;
        font-size: 11px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 714px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 17%;
        padding: 10px 1px;
        font-size: 11px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 607px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 16%;
        padding: 10px 1px;
        font-size: 8px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 475px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 15%;
        padding: 10px 1px;
        font-size: 6px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 386px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 15.5%;
        padding: 10px 1px;
        font-size: 6px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 360px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 15.5%;
        padding: 10px 1px;
        font-size: 5px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 322px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 14%;
        padding: 10px 1px;
        font-size: 4px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
/*---------------------------------ABOUT SECTION---------------------------------*/
.about{
    font-size:2vw;
    background: linear-gradient(to right, #45c0f5, whitesmoke);
    font-family: 'Luxurious Roman';
    color:black;
    width:22vw;
    letter-spacing: 0.3vw;
    margin-top:2vw;
    font-weight: 600;
}
.wiki{
    animation: 2s ease-out 0s 1 wiki;
    margin-left: 0.2vw;
}
@keyframes wiki {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
#wiki-1{
    text-decoration: none;
    color: black;
}
.intro{
    width: 67vw;
    font-size: 1.5vw;
    text-align: justify;
    padding: 1em;
}
/*---------------------------------NEWS SECTION---------------------------------*/
.news-sec{
    margin-top: -25vw;
}
.news{
    border: 2.5px solid black;
    width: 25.3vw;
    padding: 250px 40px;
    margin-top: -23vw;
    margin-left: 70vw;
}
.news-1{
    border: 2px solid black;
    width: 24.7vw;
    padding: 50px 37.5px;
    background: linear-gradient(to right,black,rgb(13, 13, 82),black);
    border-bottom: 4px solid black; 
    margin-top: -32.6vw;
    margin-left: 70.3vw;
}
.news-2{
    border: 2px solid white;
    width: 24.3vw;
    padding: 43px 35px;
    border-radius: 30px;
    margin-top: -6.5vw;
    margin-left: 70.5vw;
}
#news-4{
    text-decoration: none;
    color: bisque;
}
.news-heading{
    font-size: 2.3vw;
    margin-left: 77vw;
    margin-top: -4vw;
    font-weight: 400;
}
.news-icons .far{
    font-size: 4vw;
    color:bisque;
    margin-top: -10vw;
    margin-left: 49vw;
}
#icon-news{
    margin-top: -1.5vw;
    margin-left: 22.7vw;
}
#rss{
    margin-left: 70.3vw;
    margin-top:1.15vw;
}