@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kings&family=Luxurious+Roman&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Kings&family=Luxurious+Roman&family=Roboto:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Kings&family=Luxurious+Roman&family=Roboto:wght@300;400;500&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

*{
    border: 0em;
    margin: 0em;
    padding: 0em;
    outline: 0em;
}
html{
    scroll-behavior: smooth;
}
html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow-x: hidden !important;
}
body{
    background: whitesmoke !important;
    font-family: sans-serif !important;
}
::-webkit-scrollbar{
    width: 0;
}
/*---------------------------------Top Bar---------------------------------*/
#bar{
    background: linear-gradient(to right, #00093c, #2d0b00);
    overflow: auto;
    width: 100%;
    border-bottom: 0.3vw solid rgb(16, 114, 76);
}
.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 0.066vw !important;
 }
ul{
    list-style: none;
}
#left-1{
    float: left;
    margin-left: 2vw;
}
#left-2{
    float: left;
    margin-left: 1vw;
}
#right-1{
    float: right;
    margin-right: 5vw;
}
.navbar_link{
    display: flex;
    align-items: center;
    background: transparent;
    color: white;
    padding: 1px;
    text-decoration: none;
    font-size: 1.1vw;
}
.material-icons{
    margin-right: 0.25vw;
}
#nav-icon{
    font-size: 1.25vw;
}
#right-1 .navbar_link-1 {
    display: flex;
    align-items: center;
    background: transparent;
    color: white;
    padding: 1px;
    text-decoration: none;
    font-size: 1.1vw;
}
#right-1 .navbar_link-1:hover,
#left-2 .navbar_link:hover,
#left-1 .navbar_link:hover{
    color: #27bffe;
}  
/*---------------------------------Main Bar---------------------------------*/
.row{
    position: relative;
}
.img-fluid{
    height:auto;
}
.header-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    text-align: center;
    color: whitesmoke;
    font-weight: 800;
    font-family: 'Kings';
    letter-spacing: 3px;
    display: block;
    font-size: 3.5vw;
}
.header-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 200%);
    text-align: center;
    color: whitesmoke;
    font-weight: 800;
    font-family: 'Luxurious Roman';
    font-size: 1.6vw;
    display: block;
}
.header-3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, 330%);
    text-align: center;
    color: whitesmoke;
    font-weight: 800;
    font-family: 'Luxurious Roman';
    font-size: 1.5vw;
    display: block;
}
/*---------------------------------NOTICE SECTION---------------------------------*/
#scrolling-text{
    background: linear-gradient(to right, #00093c, #2d0b00);
    overflow: auto;
    width: 100%;
    border-top: 0.3vw solid rgb(16, 114, 76);
}
#cssmarquee {
    height: 1.6vw;
    overflow: hidden;
    position: relative;
}
#cssmarquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    color: red;
    margin: 0;
    display: flex;
    font-size: 1.1vw;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    /* Starting position */
    transform:translateX(-100%);
    animation: cssmarquee 20s linear infinite;
}
@keyframes cssmarquee {
0% {
    transform: translateX(100%);
}
100% {
    transform: translateX(-100%);
}
}
/*---------------------------------NAVIGATION SECTION---------------------------------*/
.navigation-section{
    text-align: center;
    background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
}
.nav-btn1{
    border: 0.15vw solid rgb(11, 36, 110);
    background: none;
    padding: 10px 60px;
    font-size: 1vw;
    cursor: pointer;
    margin: 10px;
    border-top-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
    width: 18%;
    font-style: italic;
    font-weight: 600;
    position: relative;
}
.nav-btn2{
    text-decoration: none;
    color: black;
}
.nav-btn1 a:hover{
   color: rgb(129, 30, 30);
   font-size: 1.25em;
}
@media (max-width: 1175px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 12%;
        padding: 10px 1px;
        font-size: 12.5px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 987px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 12%;
        padding: 10px 1px;
        font-size: 12px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 924px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 13%;
        padding: 10px 1px;
        font-size: 12px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 862px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 13%;
        padding: 10px 1px;
        font-size: 11px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 784px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 14.5%;
        padding: 10px 1px;
        font-size: 11px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 714px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 17%;
        padding: 10px 1px;
        font-size: 11px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 607px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 16%;
        padding: 10px 1px;
        font-size: 8px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 475px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 15%;
        padding: 10px 1px;
        font-size: 6px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 386px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 15.5%;
        padding: 10px 1px;
        font-size: 6px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 360px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 15.5%;
        padding: 10px 1px;
        font-size: 5px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
@media (max-width: 322px) {
    .navigation-section{
        text-align: center;
        background: linear-gradient(180deg, rgb(16, 114, 76), whitesmoke);
        border: 20px 30px black;
        -moz-box-shadow: 0 5px 20px whitesmoke;
	    -webkit-box-shadow: 0 5px 20px whitesmoke;
	    box-shadow: 2px 10px 20px whitesmoke;
    }
    .nav-btn1{
        border-right: 0px solid;
        border-bottom: 0px;
        border-top: 0px;
        border-left: 0px;
        border-radius: 0%;
        width: 14%;
        padding: 10px 1px;
        font-size: 4px;
        cursor: pointer;
        margin-right: 1px; 
        font-style: italic;
        font-weight: bold;
        position: relative;
        -moz-box-shadow: 0 5px 20px #ddd;
	    -webkit-box-shadow: 0 5px 20px #ddd;
	    box-shadow: 0 10px 20px #ddd;
    }
    #nav-btn-1{
        background-color: rgba(16, 114, 76, 0.356);
    }
}
/*---------------------------------ABOUT SECTION---------------------------------*/
.about{
    font-size:2vw;
    background: linear-gradient(to right, #45c0f5, whitesmoke);
    font-family: 'Luxurious Roman';
    width:22vw;
    letter-spacing: 0.3vw;
    margin-top:2vw;
    font-weight: 600;
}
.wiki{
    animation: 2s ease-out 0s 1 wiki;
    margin-left: 0.2vw;
}
@keyframes wiki {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
#wiki-1{
    text-decoration: none;
    color: black;
}
.intro{
    width: 67vw;
    font-size: 1.5vw;
    text-align: justify;
    padding: 1.05vw;
}
/*---------------------------------NEWS SECTION---------------------------------*/
.news-sec{
    margin-top: -25vw;
}
.news{
    border: 0.17vw solid black;
    width: 25.3vw;
    padding: 16.28vw 2.61vw;
    margin-top: -23vw;
    margin-left: 70vw;
    border-radius: 1vw;
}
.news-1{
    border: 0.14vw solid black;
    width: 24.7vw;
    padding: 3.26vw 2.45vw;
    background: linear-gradient(to right,black,rgb(13, 13, 82),black);
    border-bottom: 0.27vw solid black; 
    margin-top: -32.6vw;
    margin-left: 70.3vw;
    border-radius: 1vw;
}
.news-2{
    border: 0.14vw solid white;
    width: 24.3vw;
    padding: 2.8vw 2.28vw;
    border-radius: 1vw;
    margin-top: -6.5vw;
    margin-left: 70.5vw;
}
#news-4{
    text-decoration: none;
    color: bisque;
}
.news-heading{
    font-size: 2.3vw;
    margin-left: 77vw;
    margin-top: -4vw;
    font-weight: 400;
}
.news-icons .far{
    font-size: 4vw;
    color:bisque;
}
#icon-news{
    margin-top: -3.8vw;
    margin-left: 72vw;
}
#rss{
    margin-left: 70.3vw;
    margin-top: 1.15vw;
}
@media(max-width:1045px){
    #rss{
        margin-left: 70.3vw;
        margin-top: 0.75vw;
    } 
}
@media(max-width:811px){
    #rss{
        margin-left: 70.3vw;
        margin-top: 0.4vw;
    } 
}
@media(max-width:807px){
    #rss{
        margin-left: 70.3vw;
        margin-top: 1.1vw;
    } 
}
@media(max-width:909px)
{
    #icon-news{
        margin-top: -4vw;
        margin-left: 72vw;

    }
}
@media(max-width:807px)
{
    #icon-news{
        margin-top: -4.5vw;
        margin-left: 72vw;

    }
}
@media(max-width:560px)
{
    #icon-news{
        margin-top: -5vw;
        margin-left: 72vw;

    }
}
@media(max-width:485px)
{
    #icon-news{
        margin-top: -5.5vw;
        margin-left: 72vw;

    }
}
@media(max-width:453px)
{
    #icon-news{
        margin-top: -6vw;
        margin-left: 72vw;

    }
}
@media(max-width:409px)
{
    #icon-news{
        margin-top: -6.5vw;
        margin-left: 72vw;

    }
}
@media(max-width:396px)
{
    #icon-news{
        margin-top: -6.7vw;
        margin-left: 72vw;

    }
}
@media(max-width:375px)
{
    #icon-news{
        margin-top: -7vw;
        margin-left: 72vw;

    }
}
@media(max-width:356px)
{
    #icon-news{
        margin-top: -7.5vw;
        margin-left: 72vw;

    }
}
@media(max-width:335px)
{
    #icon-news{
        margin-top: -8vw;
        margin-left: 72vw;

    }
}
@media(max-width:319px)
{
    #icon-news{
        margin-top: -8.5vw;
        margin-left: 72vw;

    }
}
@media(max-width:290px)
{
    #icon-news{
        margin-top: -9vw;
        margin-left: 72vw;

    }
}
/*---------------------------------QUICK LINKS SECTION---------------------------------*/
.quick-sec{
    margin-top: 30vw;
}
.quick{
    border: 0.17vw solid black;
    width: 25.3vw;
    padding: 16.28vw 2.61vw;
    margin-top: 2vw;
    margin-left: 70vw;
    border-radius: 1vw;
}
.quick-1{
    border: 0.14vw solid black;
    width: 24.7vw;
    padding: 3.26vw 2.45vw;
    margin-top: -32.7vw;
    margin-left: 70.3vw;
    background: linear-gradient(to right,black,rgb(13, 13, 82),black);
    border-bottom: 0.27vw solid black; 
    border-radius: 1vw;
}
.quick-2{
    border: 0.14vw solid white;
    width: 24vw;
    padding: 2.80vw 2.28vw;
    margin-left: 70.63vw;
    margin-top: -6.46vw;
    border-radius: 1vw;
}
.quick-3{
    color:bisque;
    margin-top: -3vw;
}
#mybtn{
    text-decoration: none;
    color: bisque;
}
.quick-heading{
    font-size: 2.3vw;
    margin-left: 78vw;
    margin-top: -3.88vw;
    font-weight: 400;
}
.quick-icons .fas{
    font-size: 4vw;
    color: bisque;
}
#icon-quick{
    margin-left: 72.92vw;
    margin-top: -3.82vw;
}
.modal {
    display: none;
    position: fixed !important;
    z-index: 1 !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(0.33vw);
    -webkit-backdrop-filter: blur(0.33vw);
  }
.modal-content {
    margin: 0.16vw auto !important;
    padding: 1.31vw !important;
    width: 35.81vw !important;
    height: 39.07vw !important;
    border-radius: 3.26vw !important;
    border-style: ridge !important;
    background: linear-gradient(30deg, rgba(13,110,73),#043d5a) !important;
    position: fixed !important;
    margin-top: 4.17vw !important;
    margin-left: 32vw !important;
    overflow: scroll !important;
}
::-webkit-scrollbar{
    width: 0;
}
.close {
    color: #aaa;
    float: right;
    font-size: 1.83vw;
    font-weight: bold;
    cursor: pointer;
    margin-left: 32vw;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
#myBtn{
    cursor: pointer;
    margin-bottom: -12.5vw;
}
.modal-heading{
    font-family: 'Luxurious Roman';
    font-weight: bolder;
    font-size: 2.28vw !important;
    margin-top: -0.52vw !important;
    text-align: justify;  
}
#modal-head_id{
    text-decoration: none;
    color: white;
}
#book-icon{
    color: rgb(30, 55, 80);
    margin-left: 1.09vw !important;
    margin-bottom: -1.5vw !important;
    font-size: 1.4vw;
}
#book-logo{
    color: rgb(53,21,21);
    margin-left: 14vw !important;
    font-size: 5vw !important;
}
.scroll-link{
    font-size: 1.18vw !important;
    margin-left: 3.13vw !important;
}
#scroll-link_id{
    text-decoration: none;
    color: rgb(49, 214, 27);
    margin-top: -1vw;
}
.scrolling-news{
    background: whitesmoke;
    width: 25.3vw;
    height: 26.042vw;
    padding:0.4vw;
    border: 0.17vw solid black;
    position: relative;
    margin-top: 1.1vw;
    margin-left: 70vw;
    overflow: hidden;
    border-top: 0vw;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
}
.scroll-1{
    font-size: 1.18vw !important;
    margin-left: 0.52vw !important;
    font-weight: bold;
}
.scroll-1_modal{
    font-size: 1.18vw !important;
    font-weight: bold;
}
#scroll-1-id{
    text-decoration: none;
    color: black;
    margin-left: 3.5vw !important;
}
#scroll-1_id{
    text-decoration: none;
    color: black;
}
.scroll-2{
    font-size: 1.18vw;
    margin-left: 3.13vw;
}
#scroll-2_id{
    text-decoration: none;
    color: purple;
}
#hr-size{
    width: 24.089vw;
    border: 0;
    border-bottom: 0.08vw solid black;
    margin: 1.31vw auto;
}
#modal-hr{
    border-bottom: 0.15vw solid white;
    width: 33vw;
}
.marq{
    height: 26.042vw;
}
/*---------------------------------GALLERY SECTION---------------------------------*/
.gallery{
    font-size:2vw;
    background: linear-gradient(to right, #45c0f5, whitesmoke);
    font-family: 'Luxurious Roman';
    width:22vw;
    letter-spacing: 0.3vw;
    margin-top:-43vw;
    font-weight: 600;
}
#wiki-1{
    text-decoration: none;
    color: black;
}
#slider{
    height: 24.42vw;
    width: 36.14vw;
    background: rgba(92, 88, 88, 0.6);
    margin-top: 3.26vw;
    margin-left: 6.52vw;
}
#slider-container{
    width: 35.81vw;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.14vw solid black;
    box-shadow: 0.066vw 0.14vw 0.66vw 0.33vw rgb(16, 114, 76);
}
.images{
    width: 1000vw;
    vertical-align: middle;
    display: none;
    animation-name:initial;
    animation-duration: 2s;
}
@keyframes fade{
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
.prev-button{
    width: 1.96vw;
    height: 3.91vw;
    font-size: 1.96vw;
    color: rgba(240, 240, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    border: 2px solid white;
    border-top-right-radius: 0.98vw;
    border-bottom-right-radius: 0.98vw;
    background: rgba(255, 255, 255, 0.1);
    left: 0;
    transition: color 0.3s ease;
}
.next-button{
    width: 1.96vw;
    height: 3.91vw;
    font-size: 1.96vw;
    color: rgba(240, 240, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    border: 2px solid white;
    border-top-left-radius: 0.98vw;
    border-bottom-left-radius: 0.98vw;
    background: rgba(255, 255, 255, 0.1);
    right: 0;
    transition: color 0.3s ease;
}
.prev-button:hover{
    background: rgba(255, 255, 255, 0.2);
}
.next-button:hover{
    background: rgba(255, 255, 255, 0.2);
}
.bottom-slider {
    position: absolute;
    bottom: 1.31vw;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.btm_slider{
    height: 0.33vw;
    width: 1.63vw;
    border: 0.14vw solid white;
    border-radius: 0.33vw;
    margin: 0vw 0.19vw;
    cursor: pointer;
}
.active,
.btm_slider:hover{
    background: thistle;
}
/*---------------------------------RULES & REGULATIONS SECTION---------------------------------*/
.rules{
    font-size:2vw;
    background: linear-gradient(to right, #45c0f5, whitesmoke);
    font-family: 'Luxurious Roman';
    color:black;
    width:52.1vw;
    letter-spacing: 0.3vw;
    margin-top:5.21vw;
    font-weight: 600;
}
.bullet .far{
    margin-left: 0.5em;
    margin-top: 1.05vw;
    font-size: 2vw;
    color: black;
}
.rule-point{
    font-size: 1.63vw;
    margin-left: 0.53vw;
    margin-top: 1.05vw;
    font-family: Arial, Helvetica, sans-serif;
}
#rule-id{
    text-decoration: none !important;
    color: black !important;
}
.read-more{
    margin-top: 2.09vw;
    margin-left: 1.05vw;
    font-size: 0.98vw;
}
.click-here{
    text-decoration: none;
    border: 0.14vw solid black;
    color: blue !important;
}
.click-here:hover{
    background-color: thistle;
}
/*---------------------------------FOOTER SECTION---------------------------------*/
#footer-row{
    background: linear-gradient(to right, #00080c, #046b79,#051158);
    margin-top: 5.01vw;
    color: white;
    border-top-left-radius: 10vw;
    border-top-right-radius: 10vw;
    font-family: serif;
    font-size: 1vw;
    padding: 1vw 6vw 1vw;
    display: flex;
    flex-wrap: wrap;
}
#footer-row h3{
    width: fit-content;
    margin-bottom: 2.60vw;
    position: relative;
    font-size: 1.21vw;
    font-weight: 600;
}
#footer-col{
    margin-left: 4vw;
    margin-top: 2.09vw;
}
#footer-col a{
    text-decoration: none;
    color: white;
}
.email-id{
    width: fit-content;
    border-bottom: 0.14vw solid #ccc;
    margin: 1vw 0;
}
.email-id a{
    text-decoration: none;
    color: white;
}
.social-icons .fab{
    width: 3vw;
    height: 3vw;
    border-radius: 5vw;
    text-align: center;
    line-height: 2.9vw;
    font-size: 1.5vw;
    color: #000;
    background: #fff;
    margin-right:0.5vw ;
    cursor: pointer;
}
.footer-hr{
    width: 95vw !important;
    border: 0;
    border-bottom: 0.2vw solid white;
    margin: 1.7vw auto;
}
.copyright{
    text-align: center;
    margin: auto;
}
.download-btn{
    width: 13vw;
    height: 3.5vw;
    margin-top: 1.18vw;
    box-shadow: 0.5vw 0.5vw 7vw greenyellow;
    background-color: #046b79;
    border-radius: 1vw;
}
.fa{
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 0.42vw;
    margin-top: 0.84vw;
    font-size: 1.6vw;
}
.download-btn2{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.6vw;
}
.download-btn1{
    margin-left: 1.05vw;
}
.privacy{
    width: 9vw;
    height: 2.09vw;
    margin-top: 1.05vw;
    margin-left: -3vw;
    box-shadow: 1vw 1vw 7vw greenyellow;
    background-color: #046b79;
    border-radius: 0.665vw;
}
.privacy2{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.36vw;
    margin-left: 0.32vw;
}
.disclaimer{
    width: 8vw;
    height: 2.09vw;
    margin-top: -2.09vw;
    margin-left: 8vw;
    box-shadow: 1vw 1vw 7vw greenyellow;
    background-color: #046b79;
    border-radius: 0.65vw;
}
.disclaimer2{
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.37vw;
    margin-left: 1.04vw;
}
.website-counter {
    color: white;
    font-weight: 700;
    font-size: 1.7vw;
    margin-top: -2.5vw;
    margin-left: 12vw;
}
.visitor{
    margin-top: 2vw;
    letter-spacing: 0.27vw;
}
.visitor h6{
    font-size: 1.04vw;
    font-weight: 600;
}
#visitor-eye{
    font-size: 2vw;
    margin-left: -1.5vw;
}
.visitor-counter{
    margin-top: -3vw;
    margin-left: 10.5vw;
}
.count{
    margin-left: 20vw !important;
}
.page-viewers{
    margin-left: -1vw;
}
.map{
    width:20vw;
    height:13vw; 
    border: 0.066vw;
}